.header {
  background: linear-gradient(90deg, #007bff, #6610f2);
  color: #fff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}


.nav-list {
  display: flex;
  gap: 250px;
  list-style-type: none;
  margin: 0;
  transform: scale(1.05);
  padding: 0;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #ffdd57;
}

/* Adding smooth transition for anchor tags */
li a {
  text-decoration: none;
  color: #007bff;
  /* Default color */
  transition: color 0.3s ease, transform 0.3s ease;
  /* Smooth transition for color and transform */
}

li a:hover {
  color: #0056b3;
  /* Color on hover */
  transform: scale(2);
  /* Slightly enlarge the link on hover */
}